<div *ngIf="product.payload.val().title" class="card">
  <img
    *ngIf="product.payload.val().imageUrl"
    [src]="product.payload.val().imageUrl"
    class="card-img-top"
    alt="{{ product.payload.val().title }}"
  />
  <div class="card-body">
    <h5 class="card-title">{{ product.payload.val().title }}</h5>
    <p class="card-text">
      {{ product.payload.val().price | currency: "USD":true }}
    </p>
  </div>
  <div class="card-footer">
    <div class="d-grid gap-2">
      <button
        *ngIf="showActions"
        (click)="addToCart(product)"
        class="btn btn-primary"
      >
        Add to Card
      </button>
    </div>
  </div>
</div>
